* {
  border: none;
  /* border-radius: 0; */
  font-family: 'NotoSans Nerd Font Propo';
  font-size: 13px;
  min-height: 10px;
}
#waybar > box {
  margin: 6px;
  /* padding: 5px */
}

#window {
  /* border-radius: 10px; */
  /* padding: 5px; */
  margin: 10px
}


window#waybar {
  color: #cdd6f4;
  background: transparent;
}
#custom-date,
#custom-notification,
#custom-media,
#custom-updates,
#custom-downloads,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#window,
#battery,
#temperature {
  padding: 5px 3px 5px 3px;
  background-color: #181825;
  /* padding: 4px 10px; */
}
#clock {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  /* padding: 0 20px; */
  /* color: #b4befe; */
  color: #fab387;
  background-color: #1e1e2e;
  border-radius: 0px 0px 10px 10px
  /* border-top-right-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  /* padding-left: 15px; */
}
tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  margin: 10px;
}

tooltip box {
  padding: 10px;
  font-size: 40px
}
tooltip label{
  font-size: 15px;
  border-radius: 10px;
}

#pulseaudio {
  padding: 5px 3px 5px 3px;
  color: #89dceb;
  /* padding-right: 15px; */
  /* padding: 0 15px; */
  /* padding-right: 30px; */
}
#mpris {
  background-color: #181825;
  color: #89dceb;
  padding: 5px 3px 5px 3px;

}
#network {
  padding: 5px 3px 5px 3px;
  color: #b4befe;
  /* padding: 0 15px; */
  /* padding-left: 30px; */
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
}
#tray {
  padding: 20px 0px 20px 0px;
  /* padding-right: 20px; */
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
}
#temperature {
  padding: 5px 3px 5px 3px;
  color: #89b4fa;
}
#battery {
  padding: 5px 3px 5px 3px;
  /* margin-top: 5px; */
  color: #94e2d5;
}
#workspaces {
  padding: 5px 3px 5px 3px;
  /* padding: 4px 10px; */
  /* padding-right: 15px; */
  background-color: #1e1e2e;
  border-radius: 10px 10px 0px 0px
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
}

#workspaces button {
  padding: 5px 3px 5px 3px;
  margin: 1px;
  /* padding: 1px; */
  color: #b4befe;
}
#custom-media {
  padding: 5px 3px 5px 3px;
  color: #91d7e3;
}
#workspaces button.focused {
  padding: 5px 3px 5px 3px;
  color: #0f0f0f;
  background-color: #cba6f7;
  border-radius: 15px;
}
#custom-updates {
  padding: 5px 3px 5px 3px;
  color: #b4befe;
  /* padding-left: 20px; */
}
#custom-downloads {
  padding: 5px 3px 5px 3px;
  color: #b4befe;
}
#workspaces button.urgent {
  padding: 5px 3px 5px 3px;
  color: #0f0f0f;
  background-color: #b4befe;
  border-radius: 15px;
}

#workspaces button:hover {
  padding: 5px 3px 5px 3px;
  background-color: #cba6f7;
  color: #0f0f0f;
  border-radius: 15px;
}
